/* mobile support*/
@media screen and (max-width: 480px) {

	#panel {
		position: absolute;
		top: 5px;
		left: 50%;
		margin-left: 80px;
		z-index: 5;
		background-color: #fff;
		padding: 5px;
		border: 1px solid #999;

	}

	.cloudbox{
		background-color: #fff;
		height: 250px;
		width: 100%;
		margin: 0px;
	    padding: 0px;
	}


	.tweetsbox{
		background-color: rgb(240,248,255);
		/*height: 400px;*/
		height: 100%;
		margin: 0px; 
	    padding: 0px;
	}


	.heatmap{
		height: 72%;
	    margin: 0px;
	    padding: 0px;
	}

	.container{
		height: 100%;
	}

	.map_container{
		padding-top: 55px;
	  	padding-right: 5px;
		height: 100%;

	}

}



/* pc web browser*/

html{
	height: 100%;
	margin: 0px;
	padding: 0px;
}

body {
	height: 100%; 
	margin: 0px; 
	padding: 0px;
	font-family: Verdana, Helvetica, sans-serif;
	background-color: #DDDDDD;
}


#map-canvas {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#panel {
	position: absolute;
	/*top: 5px;*/
	top: 1%;
	left: 50%;
	/*margin-left: 80px;*/
	margin-left: 5%;
	z-index: 5;
	background-color: #fff;
	/*padding: 5px;*/
	padding: 1%;
	/*border: 1px solid #999;*/
	border: 0.5% solid #999;
}

.cloudbox{
	background-color: #fff;
	height: 250px;
	width: 100%;
	margin: 0px;
    padding: 0px;
}


.tweetsbox{
	background-color: rgb(240,248,255);
	/*height: 400px;*/
	height: 100%;
	margin: 0px; 
    padding: 0px;
}


.heatmap{
	height: 72%;
    margin: 0px;
    padding: 0px;
}

.container{
	height: 100%;
}

.map_container{
	padding-top: 55px;
  	padding-right: 5px;
	height: 100%;

}

/*.linechart {
	height: 180px; 
	width: 100%; 
	background-color: #fff;
}
*/
p {
	font-family:Georgia
}



/*.cloudbox_container {
	height: 250px;
	width: 450px;
	margin: 0px;
    padding: 0px;
}*/


/*.jumbotron {
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
}
*/