<script src="/static/lib/d3.js"></script>
<script src="/static/lib/d3.layout.cloud.js"></script>
<script>
	var fill = d3.scale.category20();
	var frequencies = new Object();

	{% for w in words %}
		frequencies['{{w}}'] = {{words[w]}};
	{% endfor %}

	d3.layout.cloud().size([500, 400])
			.words([{% for w in words%}'{{w}}', {% endfor%}].map(function(d) {
				return {text: d, size: frequencies[d]};
			}))
			// 10 + Math.random() * 90
			.padding(5)
			.rotate(function() { return ~~(Math.random() * 2) * 90; })
			.font("Impact")
			.fontSize(function(d) { return d.size; })
			.on("end", draw)
			.start();

	function draw(words) {
		d3.select(".cloudbox").append("svg")
				.attr("width", 600)
				.attr("height", 600)
			.append("g")
				.attr("transform", "translate(100, 250)")
			.selectAll("text")
				.data(words)
			.enter().append("text")
				.style("font-size", function(d) { return d.size + "px"; })
				.style("font-family", "Impact")
				.style("fill", function(d, i) { return fill(i); })
				.attr("text-anchor", "middle")
				.attr("transform", function(d) {
					return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
				})
				.text(function(d) { return d.text; });
	}
</script>
