
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=visualization"></script>


<script>
	// Adding 500 Data Points
	var map, pointarray, heatmap;
	var set_gradient = [
			'rgba(50, 205, 50, 0)',
			'rgba(50, 205, 50, 1)',

			'rgba(0, 255, 0, 0.5)',
			'rgba(0, 255, 0, 1)',

			'rgba(127, 255, 0, 0.5)',
			'rgba(127, 255, 0, 1)',

			'rgba(154, 205, 50, 0.5)',
			'rgba(154, 205, 50, 1)',

			'rgba(255, 165, 0, 0.5)',
			'rgba(255, 165, 0, 1)',

			'rgba(255, 0, 0, 1)',
			'rgba(255, 0, 0, 1)'

	];

  	var image = '/static/images/mini.png';

	var show_markers = false;
	var map;
	var markers = [];
	var points = [

	{% for latlng in latlngs %}
		new google.maps.LatLng({{latlng[0]}}, {{latlng[1]}}),
	{% endfor %}
	  // just insert all the coordinates here ~~~~~~~~~~~~~~~
	    // new google.maps.LatLng(38.753837, -122.403172),
	    // new google.maps.LatLng(37.752986, -122.403112),
	    // new google.maps.LatLng(39.751266, -122.403355)

	];


	// generate markers array for markers map
	for (var j = 0; j < points.length; j++) {
	  var marker = new google.maps.Marker({
	      position: points[j],
	      map: map,
	      icon: image
	  });
	  markers.push(marker);
	}

	// onload to call
	function initialize() {
		// alert("initialize")
		var mapOptions = {
			zoom: 3,
			minZoom: 2,
			center: new google.maps.LatLng(37, -90),
			mapTypeId: google.maps.MapTypeId.Map
		};

		map = new google.maps.Map(document.getElementById('map-canvas'),
				mapOptions);

		// generate ponits array for heatmap
		var pointArray = new google.maps.MVCArray(points);

		heatmap = new google.maps.visualization.HeatmapLayer({
			data: pointArray
		});

		// heatmap.setMap(map);
		// setAllMap(map);
		toggleHeatmap();
		// set heatmap gradient
		heatmap.set('gradient', set_gradient);

	}

	// functions for heatmap
	function toggleHeatmap() {
		// clear markers
		setAllMap(null);
		// show heatmap
		// heatmap.setMap(heatmap.getMap() ? null : map);
		heatmap.setMap(map);

	}

	function changeGradient() {
		var newgradient = [
			'rgba(50, 205, 50, 0)',
			'rgba(50, 205, 50, 1)',

			'rgba(0, 255, 0, 0.5)',
			'rgba(0, 255, 0, 1)',

			'rgba(127, 255, 0, 0.5)',
			'rgba(127, 255, 0, 1)',

			'rgba(154, 205, 50, 0.5)',
			'rgba(154, 205, 50, 1)',

			'rgba(255, 165, 0, 0.5)',
			'rgba(255, 165, 0, 1)',

			'rgba(255, 0, 0, 1)',
			'rgba(255, 0, 0, 1)'

		]
		heatmap.set('gradient', heatmap.get('gradient') ? null : gradient);
	}

	function changeRadius() {
		heatmap.set('radius', heatmap.get('radius') ? null : 10);
	}

	function changeOpacity() {
		heatmap.set('opacity', heatmap.get('opacity') ? null : 0.2);
	}


	// functions for markers
	function setAllMap(map) {
	  for (var i = 0; i < markers.length; i++) {
	    markers[i].setMap(map);
	  }
	  show_markers = true;
	}

	function clearMarkers() {
	  setAllMap(null);
	}

	function showMarkers() {
		//clear heatmap
		heatmap.setMap(null);

		// show markers
	  	setAllMap(map);
	}


	google.maps.event.addDomListener(window, 'load', initialize);

</script>


<div id="map-canvas"></div>
	<div id="panel">
      <button onclick="toggleHeatmap()">Show Heatmap</button>
      <!-- <button onclick="changeGradient()">Change gradient</button> -->
      <!-- <button onclick="clearMarkers();">Hide Markers</button> -->
      <button onclick="showMarkers();">Show Markers</button>
      <!-- <button onclick="changeGradient()">Change gradient</button> -->
      <!-- <button onclick="changeRadius()">Change radius</button> -->
      <!-- <button onclick="changeOpacity()">Change opacity</button> -->
    </div>
