    
<script type="text/javascript">
	// self-defined xlabel format
	function myXLabelFormat(x) { 
		return x.toString(); 
	}

	new Morris.Line({
		  // ID of the element in which to draw the chart.
		  element: 'linechart',
		  // Chart data records -- each entry in this array corresponds to a point on
		  // the chart.

		  data: [
		    { date: '2014-04-10 00:00', value: 20 },
		   	{ date: '2014-04-10 12:00', value: 20 },
		    { date: '2014-04-11 00:00', value: 10 },
		    { date: '2014-04-11 12:00', value: 10 },
		    { date: '2014-04-12 00:00', value: 5 },
		    { date: '2014-04-12 12:00', value: 10 },
		    { date: '2014-04-13 00:00', value: 5 },
		    { date: '2014-04-13 12:00', value: 10 },
		    { date: '2014-04-14 00:00', value: 20 },
		   	{ date: '2014-04-14 12:00', value: 20 }

		  ],

		  lineWidth: 2,
		  pointSize: 3,
		  // hideHover: false,

		  // The name of the data record attribute that contains x-values.
		  xkey: 'date',
		  // A list of names of data record attributes that contain y-values.
		  ykeys: ['value'],
		  // Labels for the ykeys -- will be displayed when you hover over the
		  // chart.
		  labels: ['Value'],

		  xLabels: "hour",
		  smooth: false,
		  // parseTime: false,
		  // xLabelFormat: myXLabelFormat,
		  // fillOpacity: 0.5
	});
</script>
